/* Importando a font Poppins (Google fonts) */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

  /* __________________________________________________________________________________________*/
   /* Reset (Básico)*/ 

   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

    html {
        /* Variaveis em CSS */
        
        --corPrimaria: #017143;
        
        --corSecundaria: #333;

        --corTerciaria: #fff;

    }
/* _________________________________________________________________________________________________________ */
/* Main */
   
    main{
position: relative;
width: 100%;
min-height: 100vh;
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--corTerciaria);
    }

    /* _________________________________________________________________________ */
    /* Header */

    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo{
        position: relative;
        max-width: 80px;
    }

    header .logo:hover{
        filter: invert(0.1);
    }

    header ul{
        position: relative;
        display: flex;
    }

